@charset "utf-8";
/* CSS Document */

#ichat-wrap .wrap {float: left; width: 100%;}
#ichat-wrap span {width:70px;display:block;float:left;line-height:23px;}

.ichat-labels {display: block; margin: 0 0 10px 0;}

.footerlabel {margin-top: 25px;}

.ichat-wrap {  margin: 40px 0 0 40px; float: left; width: 70%;}